.st-sort-ascent:before{
    content: '\25B2';
}

.st-sort-descent:before{
    content: '\25BC';
}

.grid-header {
    cursor: pointer;
}

.break-all {
    word-break: break-all
}

.table {
	table-layout: fixed;
}