#set( $symbol_pound = '#' )
#set( $symbol_dollar = '$' )
#set( $symbol_escape = '\' )
<div class="modal-header" draggable-modal>
	<button type="button" class="close" data-dismiss="modal"
		aria-label="Cancel" ng-click="cancel()">
		<span aria-hidden="true">&times;</span>
	</button>
	<h3 class="modal-title">{{title}}</h3>
</div>
<div class="modal-body">
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis
		quis mauris tincidunt, ullamcorper mi quis, molestie massa. Mauris
		mattis lobortis pellentesque. In accumsan sed neque eu ultrices.
		Aliquam eget faucibus metus, eget dignissim odio. Sed nisl nulla,
		ultrices ut imperdiet in, rutrum quis libero. Donec volutpat lacus
		massa, non porta nulla ornare gravida. Mauris mattis est at lacinia
		consectetur. Nunc id arcu vitae diam rhoncus pellentesque. Mauris in
		sollicitudin enim, et lobortis eros. In nec lectus quis turpis rutrum
		hendrerit.
	<p></p>
	Integer fringilla ornare sagittis. Interdum et malesuada fames ac ante
	ipsum primis in faucibus. Vestibulum finibus, sapien eu gravida semper,
	nisi urna auctor quam, eu tristique elit neque non massa. In
	pellentesque elit ac est luctus, a mattis quam vehicula. Duis mattis
	euismod purus, at pretium mauris sodales sit amet. Suspendisse ornare
	augue eu ipsum sollicitudin, hendrerit luctus erat varius. Aenean ac
	molestie diam, quis ullamcorper justo. Sed vel tortor metus. Nullam
	fringilla aliquet lectus, at rutrum diam faucibus suscipit. Curabitur
	vehicula erat a rhoncus vestibulum.
	</p>
</div>
<div class="modal-footer">
	<button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
	<button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>