#set( $symbol_pound = '#' )
#set( $symbol_dollar = '$' )
#set( $symbol_escape = '\' )
<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="jdbcTypeForNull" value="NULL"/>
    </settings>
    <typeHandlers>
        <typeHandler javaType="java.util.Date" handler="org.apache.ibatis.type.DateTypeHandler" jdbcType="DATE"/>
        <typeHandler javaType="org.joda.time.DateTime" jdbcType="DATE"
                     handler="${package}.mybatis.handlers.DateTimeHandler" />
        <!--<typeHandler javaType="oracle.sql.TIMESTAMP" handler="org.apache.ibatis.type.DateTypeHandler" />-->
    </typeHandlers>
</configuration>
