#set( $symbol_pound = '#' )
#set( $symbol_dollar = '$' )
#set( $symbol_escape = '\' )
<div class="modal-header" draggable-modal>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="close()"><span
            aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">{{::title}}</h4>
</div>
<div class="modal-body" style="min-height: 100px">
    {{::message}}
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" ng-click="save()">Yes</button>
    <button type="button" class="btn btn-default" ng-click="close()">No</button>
</div>